.about-me {
  position: relative;
  text-align: center;

  &:after {
    background: url('/assets/backgrounds/about-me.jpg') no-repeat center center;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__title {
    margin: 40px 0;
  }
}
