@import "../../../../_index.scss";

.SkillsGrid {
  margin: 0 auto;
  max-width: 80rem;

  &--row {
    margin-bottom: 2rem;
  }

  &--title {
    transition: visibility 0.5s ease-in-out;
    visibility: hidden;
  }

  &--logo {
    background: no-repeat center center;
    background-size: contain;
    height: 16rem;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  &--logo-link {
    &:hover {
      cursor: pointer;
      text-decoration: none !important;
    }
  }

  &--logo-footer {
    color: $font-color !important;
    font-weight: bold;
    padding-top: 1rem;
    text-align: center;
  }

  &--html5-logo {
    background-image: url('/assets/html5.png');
  }

  &--js-logo {
    background-image: url('/assets/js.png');
  }

  &--css3-logo {
    background-image: url('/assets/css3.png');
  }

  &--nodejs-logo {
    background-image: url('/assets/nodejs.png');
  }

  &--react-logo {
    background-image: url('/assets/react.png');
  }

  &--redux-logo {
    background-image: url('/assets/redux.png');
  }

  &--webpack-logo {
    background-image: url('/assets/webpack.png');
  }

  &--npm-logo {
    background-image: url('/assets/npm.png');
  }

  &--git-logo {
    background-image: url('/assets/git.png');
  }

  &--magicxpa-logo {
    background-image: url('/assets/magicxpa.png');
  }

  &--solidity-logo {
    background-image: url('/assets/solidity.png');
  }

  &--ethereum-logo {
    background-image: url('/assets/ethereum.png');
  }
}
