.Header {

  &--email {
    vertical-align: text-bottom;
  }

  &--social-media-icons {
    padding-left: 1rem;
  }

  &--social-media-wrapper {

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
}
