{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [ "." ],
        "alias": {
          "~": "./src",
          "~components": "./src/components",
          "~screens": "./src/screens"
        }
      }
    ]
  ]
}
