$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$background-color: #e9ebee;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto' !important;
}

body {
  background-color: $background-color !important;
}
