.App {
  margin: -5rem auto 0;
  width: 70%;

  &--contact {
    padding-left: 22rem;
  }

  &--profileImage-circle {
    border: 2px solid white;
    border-radius: 50%;
    top: 120px;
    left: 40px;
    position: relative;
    width: 15rem;
  }

  &--email {
    vertical-align: text-bottom;
  }

  &--social-media-icons {
    padding-left: 1rem;
  }
}
