.App {
  margin: 0 auto;
  width: 80%;

  &--title,
  &--header {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &--language-bar {
    float: right;
  }

  &--languageButton {
    color: black !important;
  }

  &--contact {
    padding-left: 22rem;
  }

  &--profileImage-circle {
    border: 2px solid white;
    border-radius: 50%;
    top: 120px;
    left: 40px;
    position: relative;
    width: 15rem;

    @media only screen and (max-width: 768px) {
      top: 40px;
      left: 0;
    }
  }

  &--header-container {

    @media only screen and (max-width: 768px) {
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}
