.TimeLine {
  position: relative;

  &::after {
    background-color: black;
    bottom: 0;
    content: '';
    margin-left: -3px;
    position: absolute;
    top: 0;
    width: 6px;
  }

  &--dates {
    font-weight: bold;
    margin-top: 0;
    padding-right: 2rem;
  }

  &--fact {
    background-color: inherit;
    padding: 10px 40px;
    position: relative;
    width: 80%;

    &::after {
      background-color: white;
      border-radius: 50%;
      border: 8px solid black;
      content: '';
      height: 25px;
      left: -13px;
      position: absolute;
      top: 15px;
      width: 25px;
      z-index: 1;
    }
  }

  &--divider {
    border-radius: 50%;
    border: 1.5rem solid orange;
    height: 4rem;
    margin: 0 3rem;
    padding: 0rem;
    width: 4rem;
  }
}
